.menu-container {
  height: 50px;
  box-shadow: 0 -1px 10px -2px grey;
  padding: 10px 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #ffffff;
}

.logo {
  position: absolute;
  left: 300px;
  height: 100%;
}

.navigation-element {
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  position: relative;

  .navigation-value {
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #005eff;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}


.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
