<div class="menu-container">
  <img class="logo" src="../../assets/images/logo.png" alt="logo">

  <div class="navigation-container">
    <a class="navigation-element" routerLink="dashboard">
      <span class="navigation-value">Główna</span>
    </a>
    <a class="navigation-element" routerLink="customers">
      <span class="navigation-value">Klienci</span>
    </a>
    <a class="navigation-element" routerLink="offers">
      <span class="navigation-value">Oferty</span>
    </a>
  </div>
</div>
