.lib-input {
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 14px;
  padding: 0 15px;

  &:focus {
    outline: none !important;
    box-shadow: 0 0 5px -1px grey;
  }
}

